/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.ct_report-template-default {
  background-color: #c0edfe;
}

.radio-template-default {
  background-color: #fefdd5;
}

.ultrasound_report-template-default {
  background-color: #d9eaca;
}

.clinic-template-default {
  background-color: #f6f9dd;
}

.doctor-template-default {
  background-color: #d5ddd1;
}
